$spacing: (
  xs:  4px,
  sm:  8px,
  md:  16px,
  lg:  32px,
  xl:  48px,
  xxl: 64px,
);

$colors: (
  brand-hunter-green: #1C453B,
  brand-mint:         #00BDB4,
  brand-yellow:       #FFE400,

  watermelon: #F05D61,
  butternut: #D77F59,
  dark-blue: #077AB8,
  light-blue: #52B4E5,

  grey-15: #23252A,
  grey-35: #5F5754,
  grey-50: #887E77,
  grey-60: #A09C92,
  grey-75: #C4C1BB,
  grey-85: #DCDAD6,
  grey-92: #ECEBE9,
  grey-98: #FCFBF8,
  white: #FFFFFF,

  watermelon-dark: #E53E43,
  mint-dark: #007F7A,
  butternut-dark: #C86C44,
  red: #DA393C,
);
