// Color Palette
$color-brand-hunter-green: #1C453B;
$color-brand-mint: #00BDB4;
$color-brand-yellow: #FFE400;

$color-watermelon: #F05D61;
$color-butternut: #D77F59;
$color-dark-blue: #077AB8;
$color-light-blue: #52B4E5;

$color-grey-15: #23252A;
$color-grey-35: #5F5754;
$color-grey-50: #887E77;
$color-grey-60: #A09C92;
$color-grey-75: #C4C1BB;
$color-grey-85: #DCDAD6;
$color-grey-92: #ECEBE9;
$color-grey-98: #FCFBF8;
$color-white: #FFFFFF;

$color-watermelon-dark: #E53E43;
$color-mint-dark: #007F7A;
$color-butternut-dark: #C86C44;
$color-red: #DA393C;
