$spacing: (
  xs:  4px,
  sm:  8px,
  md:  16px,
  lg:  32px,
  xl:  48px,
  xxl: 4rem,
);

@function spacing($name){
  @return map-get($spacing, $name);
}

@mixin padding($size, $dirs: false) {
  @if $dirs {
    @each $dir in $dirs {
      padding-#{$dir}: spacing($size);
    }
  } @else {
    padding: spacing($size);
  }
}

@mixin margin($size, $dirs: false) {
  @if $dirs {
    @each $dir in $dirs {
      margin-#{$dir}: spacing($size);
    }
  } @else {
    margin: spacing($size);
  }
}

@each $name in map-keys($spacing) {
  $space: spacing($name);
  .p-#{$name} { padding: $space; }
  .pt-#{$name}{ padding-top: $space; }
  .pr-#{$name}{ padding-right: $space; }
  .pb-#{$name}{ padding-bottom: $space; }
  .pl-#{$name}{ padding-left: $space; }
  .px-#{$name}{ padding-left: $space; padding-right: $space; }
  .py-#{$name}{ padding-top: $space; padding-bottom: $space; }
  .m-#{$name} { margin: $space; }
  .mt-#{$name}{ margin-top: $space; }
  .mr-#{$name}{ margin-right: $space; }
  .mb-#{$name}{ margin-bottom: $space; }
  .ml-#{$name}{ margin-left: $space; }
  .mx-#{$name}{ margin-left: $space; margin-right: $space; }
  .my-#{$name}{ margin-top: $space; margin-bottom: $space; }
}
