// Color Palette
$color-brand-hunter-green: #1C453B;
$color-brand-mint: #00BDB4;
$color-brand-yellow: #FFE400;
$color-watermelon: #F05D61;
$color-butternut: #D77F59;
$color-dark-blue: #077CBB;
$color-light-blue: #4FB2E4;
$color-charcoal: #25282D;
$color-dark-grey: #665B58;
$color-grey: #96908C;
$color-grey-light: #DEDCD7;
$color-grey-lighter: #F2F1EF;
$color-gray-lightest: #FCFBF8;
$color-white: #FFFFFF;
$color-watermelon-dark: #E53E43;
$color-red: #DA393C;
$color-mint-dark: #00A19A;
$color-butternut-dark: #C86C44;
