$font-family-default: 'Brandon Text';
$sf-icon-font: 'stitch-fix-icon-font';
$text-weight-black: 900;
$text-weight-bold: bold;
$text-weight-medium: 500;
$text-weight-regular: normal;

$type-sizes: (
  "title-1": 40px,
  "title-2": 34px,
  "title-3": 24px,
  "title-4": 15px,
  "title-5": 14px,
  "title-6": 35px,
  "title-7": 26px,
  "title-8": 21px,
  "title-9": 13px,
  "title-10": 12px,
  "body-1": 18px,
  "body-2": 16px,
  "body-3": 14px,
  "body-4": 13px,
  "component-1": 16px,
  "component-2": 16px,
  "component-3": 14px,
  "component-4": 14px,
);

$type-size-title-1: 40px;
$type-size-title-2: 34px;
$type-size-title-3: 24px;
$type-size-title-4: 15px;
$type-size-title-5: 14px;
$type-size-title-6: 35px;
$type-size-title-7: 26px;
$type-size-title-8: 21px;
$type-size-title-9: 13px;
$type-size-title-10: 12px;
$type-size-body-1: 18px;
$type-size-body-2: 16px;
$type-size-body-3: 14px;
$type-size-body-4: 13px;
$type-size-component-1: 16px;
$type-size-component-2: 16px;
$type-size-component-3: 14px;
$type-size-component-4: 14px;

$line-heights: (
  "title-1": 42px,
  "title-2": 38px,
  "title-3": 31px,
  "title-4": 24px,
  "title-5": 16px,
  "title-6": 40px,
  "title-7": 35px,
  "title-8": 28px,
  "title-9": 22px,
  "title-10": 16px,
  "body-1": 24px,
  "body-2": 22px,
  "body-3": 16px,
  "body-4": 16px,
  "component-1": 16px,
  "component-2": 16px,
  "component-3": 14px,
  "component-4": 14px,
);

$type-line-height-title-1: 42px;
$type-line-height-title-2: 38px;
$type-line-height-title-3: 31px;
$type-line-height-title-4: 24px;
$type-line-height-title-5: 16px;
$type-line-height-title-6: 40px;
$type-line-height-title-7: 35px;
$type-line-height-title-8: 28px;
$type-line-height-title-9: 22px;
$type-line-height-title-10: 16px;
$type-line-height-body-1: 24px;
$type-line-height-body-2: 22px;
$type-line-height-body-3: 16px;
$type-line-height-body-4: 16px;
$type-line-height-component-1: 16px;
$type-line-height-component-2: 16px;
$type-line-height-component-3: 14px;
$type-line-height-component-4: 14px;
